<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="manifest" href="{{ asset('static/manifest.json') }}">
        <link rel="shortcut icon" href="{{ asset('static/favicon.ico') }}">
        <link href="{{ asset('static/css/main.a426946a.css') }}" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}

        <script src="{{ asset('static/js/main.27cd9c24.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
