<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">

        <title>{% block title %}Johnson Innovation{% endblock %}</title>

        <link href="{{ asset('static/css/login.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block fos_user_content %}{% endblock %}
        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
        <script src="{{ asset('static/js/login.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
